#home-column{
  margin-top: 15%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.content{
  font-size: 10px;
}

#homebase-title{
  display: inline-block;
}

#dropins-title {
  display: inline-block;
}

img#homebase{
  white-space: nowrap;
}
