 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100vh;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-form{
  display: inline;
}

.interest{
  display:inline;
  margin-right: 5px;
}

#home-column.column{
  margin-top: 25%;
  display:flex;
  justify-content: center;
}
