#main {
  padding-top: 20px;
}

.main-form{
  display: inline;
}

.interest{
  display:inline;
  margin-right: 5px;
}

#home-column.column{
  margin-top: 25%;
  display:flex;
  justify-content: center;
}

aside.menu{
  margin-bottom: 20px;
}

.content{
  font-size: 10px;
}

#homebase-title{
  display: inline;
}

img#homebase{
  display: inline;
}

